<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B23ACA61D06A6AC00D74A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B23ACBF1D06A6AD00D74A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B23ACCA1D06A6AD00D74A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
